# Bật mod_rewrite
RewriteEngine On

# Đặt base cho project
RewriteBase /Refactor-Web-Programming/

# Nếu file hoặc folder tồn tại thì không rewrite
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Gửi tất cả request đến index.php
RewriteRule ^ index.php [QSA,L]
